.button {
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: var(--radius-pill);
    font-weight: var(--font-weight-strong);
    line-height: 1;
    font-family: var(--font-family-sans);
    padding: 11px 20px;
    font-size: 14px;
}

.button--primary {
    background-color: var(--color-button-primary);
    color: var(--color-button-primary-text);
}

.button--secondary {
    box-shadow: 0 0 0 1px var(--color-border) inset;
    background-color: var(--color-button-secondary);
    color: var(--color-button-secondary-text);
}